<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>

        <Logger name="org.apache" level="INFO"
                additivity="false">
            <Appender-ref ref="Console" level="INFO"/>
        </Logger>

        <Logger name="org.springframework" level="INFO"
                additivity="false">
            <Appender-ref ref="Console" level="INFO"/>
        </Logger>

        <Logger name="org.flywaydb" level="INFO"
                additivity="false">
            <Appender-ref ref="Console" level="INFO"/>
        </Logger>

        <Logger name="springfox.documentation" level="INFO"
                additivity="false">
            <Appender-ref ref="Console" level="INFO"/>
        </Logger>

        <Logger name="org.hibernate" level="INFO"
                additivity="false">
            <Appender-ref ref="Console" level="INFO"/>
        </Logger>
        <Logger name="org.reflections.Reflections" level="INFO"
                additivity="false">
            <Appender-ref ref="Console" level="INFO"/>
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>