# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ development, push-jar-91 ]
  pull_request:
    branches: [ development ]



jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, macos-10.15, windows-2019]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Maven Build
      run: mvn -B package --file pom.xml -DskipTests
    - name: Maven Test
      run: mvn test
    - name: Artifact Name
      if: runner.os == 'macOS'
      run: |
           JARPATH=$(find . -type f -iname 'coe-*-SNAPSHOT-jar-with-dependencies.jar')
           echo "Found jar path: ${JARPATH}"
           echo "Setting artifactpath to ${JARPATH}"
           echo "::set-env name=artifactpath::${JARPATH}"
           JARNAME=$(basename $JARPATH)
           echo "Setting artifactname to ${JARNAME}"
           echo "::set-env name=artifactname::${JARNAME}"
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      if: runner.os == 'macOS'
      with:
        name: ${{env.artifactname}}
        path: ${{env.artifactpath}}
